:root {
    --primary-font: "Montserrat", serif;
    --primary-blue: #3484F0;
    --light-blue: #C4DBFA;
    --white-color: #F7F7F7;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    list-style-type: none;
    list-style: none;
}

ul {
    list-style-type: none;
    list-style: none;
    text-decoration: none;
}

.dash-grid {
    font-family:"Montserrat", sans-serif;
    display: grid;
    grid-template-rows: 8vh 92vh;
    grid-template-columns: 15vw 85vw;
    grid-template-areas: 
        "sidebar topbar topbar"
        "sidebar body body"
        "sidebar body body"
    ;
    background: #fff;
}

.dash-topbar {
    grid-area: topbar;
    height: 8vh;
    width: 85vw;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dash-topbar h3 {
    margin-right: 2em;
}

.dash-sidebar {
    grid-area: sidebar;
    width: 15vw;
    height: 100vh;  
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash-logo {
    height: 8vh;
    width: 100%;
    display: flex;
    align-items:center;
}

.dash-logo h3 {
    padding-left: 1em;
}
.dash-sidebar ul {
    margin: 0;
    padding: .5em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    width: 80%;
}
.dash-sidebar ul li { 
    border-radius: .5em;
    padding: .85em;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #bdbdbd;
}

.dash-sidebar ul li a {
    text-decoration: none;
    color: #757575;
    width: 100%;
    height: 100%;
    font-size: .875em;
    font-weight: bold;
}

.active-li a {
    color: #3484F0 !important;
}

.dash-body {
    grid-area: body;
    background: #f4f4f4;
}

.menu-body {
    display: grid;
    grid-template-columns: 25vw 30vw 30vw;
    grid-template-rows: 15vh 72vh;
    grid-template-areas: 
        "categories categories checkout"
        "menu-dishes menu-dishes checkout"
        "menu-dishes menu-dishes checkout"
    ;
    height: 92vh;
    width: 85vw;
    overflow: hidden;
}

.menu-categories {
    grid-area: categories;
    width: 55vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1em;
    padding: .5em;
}

.menu-cat-box {
    font-size: .875em;
    padding: 0 1.5em;
    text-transform: uppercase;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-cat-box h4 {
    font-size: .875em;
    line-height: 0;
}

.menu-dishes {
    grid-area: menu-dishes;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1em;
    padding: 1em;
    column-gap: 1em;
    max-height: 70vh;
    overflow-y: scroll;
}

.menu-checkout {
    grid-area: checkout;
    background: #fff;
    height: 75vh;
    margin: 2em;
    width: 22vw;
    padding: 0em 2em 3em 2em;
    border-radius: 2em;
}

.menu-checkout ul {
    display: flex;
    column-gap: 1em;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 2em;
}

.menu-checkout ul li {
    cursor: pointer;
    border: 1px solid #bdbdbd;
    padding: .5em 1em;
    font-size: .875em;
    border-radius: .5em;
}

.checkout-row-total {
    line-height: 0;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    justify-content: space-between;
}

.checkout-row-total h3 {
    font-size: .875em;
    color: #424242;
}

.checkout-row-total h2 {
    font-size: 1.5em;
    color: #424242;
}

.menu-checkout-footer {
    margin-top: 1em;
}

.payment-method-ul {
    margin-top: 1em;
    margin-bottom: 1em;
}

.menu-checkout-footer button {
    width: 98%;
    padding: .5em;

    text-transform: uppercase;
}

.menu-checkout-body {
    padding:1em .5em;
    margin-top: 1em;
    height: 40vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    margin-bottom: 1em;
    max-height: 40vh;
    overflow-y: auto;
    background: #f5f5f5;
}

.meals-card {
    padding: 1em;
    background: #fff;
    line-height: 0;
    height: 26vh;
}

.meal-banner {
    height: 15vh;
    width: 10vw;
    margin-bottom: 1em;
}

.meals-card h3 {
    color: #424242;
    font-size: 1em;
}

.meals-card h4 {
    color: #424242;
    font-size: 1.125em;
    font-weight: 400;
}



.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .135);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-title {
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    display: flex;
    text-transform: uppercase;
    font-family: var(--primary-font);
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    font-family: var(--primary-font);
}

.input-box label {
    font-size: .75em;
    text-transform: uppercase;
    font-weight: 600;
}

.input-box input {
    padding: .5em;
    outline: none;
    border: 1px solid #757575;
    border-radius: .25em;
    width: 18vw;
}

.radio-box {
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
}

.radio-box h4 {
    color: #424242;
    line-height: 0;
}

.radio-box label {
    font-size: .875em;
}

.select-box {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

.modal-title h3 {
    color: #424242;
    font-size: 1em;
}

.modal-footer {
    padding: .85em 1em;
    display: flex;
    justify-content: space-between;
}

.modal-body {
    padding: 1em;
}

.modal-content {
    background: #f5f5f5;
    border-radius: .5em;
}

.order-modal-active 
{
    display: flex;
}

.product-modal-active {
    display: flex;
}

.user-modal-active {
    display: flex;
}
.dash-datatable-view {
    padding: 2em;
}
.settings-body {
    display: flex;
    padding: 2em;
    column-gap: 2em;
}

.settings-card {
    width: 25vw;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    height: 40vh;
    position: relative;
    background: #fff;
}

.settings-title {
    display: flex;
    text-transform: uppercase;
    max-height: 5vh;
    padding:  1em 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.settings-title h4 {
    margin-left: 1em;
}

.settings-title button {
    margin-right: 1em;
}

.settings-body ul {
    padding: 0 1em;
    text-transform: uppercase;
}

.popup-modal {
    position: absolute;
    background: #f5f5f5;
    z-index: 9999;
    right: 1em;
    top: 1em;
    display: none;
    border-radius: 1em;
}

.popup-modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em;
}

.popup-modal-content {
    display: flex;
    
    flex-direction: column;
}

.popup-modal-body {
    padding: 1em;
}

.popup-modal-footer {
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
}

.department-modal-active {
    display: flex;
}

.cats-modal-active {
    display: flex;
}

.cart-item {
    display: flex;
    background: #fff;
    width: 94%;
    align-items: center;
    justify-content: space-between;
}

.cart-rmv-btn {
    margin-right: 1em;
}

table {
    width: 100%;
}

table thead th {
    font-size: .75em;
    background: #fff;
    padding: 1em 1.5em;
    font-weight: 600;
    color: #424242;
    text-align: start;
    text-transform: uppercase;
}

table tbody tr  {
    background: #fff;
    padding: .85em;
}

table tbody tr  td {
    padding: .85em;
    color: #424242;
    font-size: .875em;
    text-transform: uppercase;
}

.update-user-modal {
    display: flex;
}
.update-product-modal-active {
    display: flex;
}

.adj-modal-active {
    display: flex;
}

.filled-button {
    background: var(--primary-blue);
    color: #fff;
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid var(--primary-blue);
    padding: .5em 1em;
    border-radius: .5em;
}

#place-order-btn {
    padding: .875em;
    font-size: .875em;
    width: 100%;
}

.active-dine-li {
    background: #3484F0;
    color: #fff;
    font-weight: bold;
}

.active-pay-li {
    background: #3484F0;
    color: #fff;
    font-weight: bold;
}

.active-customer-box {
    display: flex;
    flex-direction: column;
}

.new-customer-box {
    display: none;
}

.customer-list-box {
    display: none;
}

table tbody {
    max-height: 50vh;
    overflow-y: scroll;
}
.bold_td {
    font-weight: bold;
}

.dash-datatable-searchbar {
    display: flex;
    align-items: center;
    column-gap: 1em;
    padding-bottom: 1em;
}

.dates-filter {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.dates-filter label {
    font-size: .875em;
    text-transform: uppercase;
    font-weight: bold;
}

table tbody tr:hover {
    background: #eee;
}

.dash-topbar button {
    margin-right: 2em;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f5f5f5;
    padding: 2em 2em; 
    border-radius: 2em;
    font-family: var(--primary-font);
}

.login h2 {
    line-height: 0;
}

.login label {
    color: #424242;
}

.login button {
    margin-top: 1em;
    width: 100%;
    font-size: 1em;
}

.settings-card ul {
    display: flex;
    margin-top: 0;
    flex-direction: column;
}

.settings-card ul {
    max-height: 20vh;
    overflow: hidden;
    overflow-y: scroll;
}
.settings-card ul li {
    display: flex;
    font-size: .75em;
    padding: .25em;
    justify-content: space-between;
    width: 90%;
}

.dash-datatable-titlebar {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.stock-audit {
    display: flex;
    padding: 1em;
    column-gap: 2em;
}